services:
  coredns:
    image: localhost/coredns-dockerdiscovery:latest
    pull_policy: never
    container_name: coredns
    restart: always
    cap_add:
      - NET_BIND_SERVICE
    security_opt:
      - label:disable
    # Bind CoreDNS only to the host's external IP and loopback. We MUST NOT
    # publish on 0.0.0.0:53 because that captures the rootless podman bridge
    # gateway IP (10.89.0.1:53), which is where aardvark-dns needs to listen
    # for container-to-container name resolution. Two daemons can't share
    # that socket; aardvark loses and silently exits, breaking in-stack DNS.
    ports:
      - "127.0.0.1:53:53/udp"
      - "127.0.0.1:53:53/tcp"
      - "{{ infravm_ip }}:53:53/udp"
      - "{{ infravm_ip }}:53:53/tcp"
    networks:
      - proxy
    volumes:
      - /run/user/1000/podman/podman.sock:/var/run/docker.sock:ro
    environment:
      - TRAEFIK_CNAME=traefik.{{ coredns_domain_name }}
      - HOST_IP={{ infravm_ip }}
      - CF_TOKEN={{ coredns_cf_token }}
      - CF_ACCOUNT_ID={{ coredns_cf_account_id }}
      - CF_TUNNEL_ID={{ coredns_cf_tunnel_id }}
      - CF_ZONE_ID={{ coredns_cf_zone_id }}
      - CF_ZONE_DOMAIN={{ coredns_domain_name }}
      - CF_TUNNEL_TARGET=https://traefik.{{ coredns_domain_name }}
      - INVENTORY_ADDR=:8081
      - FORWARD_DNS=9.9.9.9 1.1.1.1
      - CACHE_TTL=30
    labels:
      - traefik.enable=true
      - traefik.http.routers.coredns.rule=Host(`dns.{{ coredns_domain_name }}`)
      - traefik.http.routers.coredns.entrypoints=websecure
      - traefik.http.routers.coredns.tls=true
      - traefik.http.routers.coredns.tls.certresolver=letsencrypt
      - traefik.http.routers.coredns.service=coredns
      - traefik.http.services.coredns.loadbalancer.server.port=8081
networks:
  proxy:
    external: true
