[Unit]
Description=Portainer container
After=network.target

[Service]
Restart=always
ExecStartPre=-/usr/bin/podman stop portainer
ExecStartPre=-/usr/bin/podman rm portainer
ExecStart=/usr/bin/podman run --name portainer \
  -p {{ portainer_port }}:{{ portainer_port }} \
  --restart=always \
  --privileged \
  -v /run/podman/podman.sock:/var/run/docker.sock \
  -v portainer_data:/data \
  portainer/portainer-ce:{{ portainer_image_tag }} \
  --admin-password '{{ portainer_admin_password_bcrypt.stdout }}'
ExecStop=/usr/bin/podman stop portainer

[Install]
WantedBy=multi-user.target