---
- Developer:
    - GitHub:
        - abbr: GH
          href: https://github.com/
          icon: github

    - Ansible Docs:
        - abbr: AD
          href: https://docs.ansible.com/

- Homelab:
    - Proxmox:
        - abbr: PX
          href: https://{{ proxmox_api_host | default('proxmox.local') }}:8006
          icon: proxmox

    - TrueNAS:
        - abbr: TN
          href: https://nas.local
          icon: truenas
