version: '3'

# NOTE: Client secrets are passed as environment variables and referenced in
# realm-export.json.j2 using Keycloak's ${VAR} substitution syntax.
# Example: "secret": "${GITEA_CLIENT_SECRET}" in realm config
# See: https://www.keycloak.org/server/configuration#_using_environment_variables

services:
  keycloak:
    image: {{ keycloak_image_name }}:{{ keycloak_image_tag }}
    container_name: keycloak
    restart: unless-stopped
    command:
      - start
      - --hostname={{ keycloak_hostname }}.{{ keycloak_domain }}
      - --proxy-headers=xforwarded
      - --http-enabled=true
      - --import-realm
    environment:
      - KEYCLOAK_ADMIN=${KEYCLOAK_ADMIN}
      - KEYCLOAK_ADMIN_PASSWORD=${KEYCLOAK_ADMIN_PASSWORD}
      - KC_DB={{ keycloak_db_type }}
      - KC_PROXY={{ keycloak_proxy_mode }}
      - KC_HOSTNAME={{ keycloak_hostname }}.{{ keycloak_domain }}
      - KC_HOSTNAME_STRICT=false
      - KC_HTTP_ENABLED=true
      # Client secrets for realm import (used by ${VAR} substitution in realm-export.json)
{% for client in keycloak_clients | default([]) %}
{% if not client.public_client | default(false) %}
      - {{ client.client_id | upper }}_CLIENT_SECRET={{ client.client_secret | default('') }}
{% endif %}
{% endfor %}
{% if keycloak_ldap_enabled %}
      - LDAP_BIND_PASSWORD={{ openldap_admin_password | default('') }}
{% endif %}
    volumes:
      - {{ keycloak_data_dir }}/data:/opt/keycloak/data
      - {{ keycloak_data_dir }}/import:/opt/keycloak/data/import
    ports:
      - "{{ keycloak_port }}:8080"
    networks:
      - proxy
{% if keycloak_ldap_enabled %}
      - ldap
{% endif %}
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.keycloak.entrypoints=https"
      - "traefik.http.routers.keycloak.rule=Host(`{{ keycloak_hostname }}.{{ keycloak_domain }}`)"
      - "traefik.http.routers.keycloak.tls=true"
      - "traefik.http.routers.keycloak.tls.certresolver=letsencrypt"
      - "traefik.http.services.keycloak.loadbalancer.server.port=8080"
      - "homepage.group=Infrastructure"
      - "homepage.name=Keycloak"
      - "homepage.icon=keycloak"
      - "homepage.href=https://{{ keycloak_hostname }}.{{ keycloak_domain }}"
      - "homepage.description=Identity Provider"

networks:
  proxy:
    external: true
{% if keycloak_ldap_enabled %}
  ldap:
    external: true
{% endif %}
