[Unit]
Description=Portainer container
After=network.target podman.socket

[Service]
Restart=always
ExecStartPre=-/usr/bin/podman stop portainer
ExecStartPre=-/usr/bin/podman rm portainer
ExecStart=/usr/bin/podman run --name portainer \
  -p {{ portainer_port }}:9443 \
  --restart=always \
  --privileged \
  -v /run/podman/podman.sock:/var/run/docker.sock \
  -v portainer_data:/data \
  docker.io/portainer/portainer-ce:{{ portainer_image_tag }}'
ExecStop=/usr/bin/podman stop portainer

[Install]
WantedBy=multi-user.target
