
services:
  nexus:
    image: {{ nexus_image_name }}:{{ nexus_image_tag }}
    container_name: nexus
    restart: unless-stopped
    user: "200"
    volumes:
      - {{ nexus_data_dir }}/data:/nexus-data
    environment:
      - INSTALL4J_ADD_VM_PARAMS=-Xms512m -Xmx{{ nexus_memory }} -XX:MaxDirectMemorySize=1g
    networks:
      - proxy
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.nexus.entrypoints=https"
      - "traefik.http.routers.nexus.rule=Host(`{{ nexus_hostname }}.{{ nexus_domain }}`)"
      - "traefik.http.routers.nexus.tls=true"
      - "traefik.http.routers.nexus.tls.certresolver=letsencrypt"
      - "traefik.http.services.nexus.loadbalancer.server.port=8081"
      # Docker registry route
      - "traefik.http.routers.nexus-docker.entrypoints=https"
      - "traefik.http.routers.nexus-docker.rule=Host(`docker.{{ nexus_domain }}`)"
      - "traefik.http.routers.nexus-docker.tls=true"
      - "traefik.http.services.nexus-docker.loadbalancer.server.port=5000"
      # Homepage integration
      - "homepage.group=Infrastructure"
      - "homepage.name=Nexus"
      - "homepage.icon=nexus"
      - "homepage.href=https://{{ nexus_hostname }}.{{ nexus_domain }}"
      - "homepage.description=Artifact Repository"

networks:
  proxy:
    external: true
