version: '3'

services:
  nextcloud-db:
    image: {{ nextcloud_db_image_name }}:{{ nextcloud_db_image_tag }}
    container_name: nextcloud-db
    restart: unless-stopped
    environment:
      - POSTGRES_DB={{ nextcloud_db_name }}
      - POSTGRES_USER={{ nextcloud_db_user }}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    volumes:
      - {{ nextcloud_data_dir }}/db:/var/lib/postgresql/data
    networks:
      - nextcloud

  nextcloud:
    image: {{ nextcloud_image_name }}:{{ nextcloud_image_tag }}
    container_name: nextcloud
    restart: unless-stopped
    depends_on:
      - nextcloud-db
    environment:
      - POSTGRES_HOST=nextcloud-db
      - POSTGRES_DB={{ nextcloud_db_name }}
      - POSTGRES_USER={{ nextcloud_db_user }}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - NEXTCLOUD_ADMIN_USER=${NEXTCLOUD_ADMIN_USER}
      - NEXTCLOUD_ADMIN_PASSWORD=${NEXTCLOUD_ADMIN_PASSWORD}
      - NEXTCLOUD_TRUSTED_DOMAINS={{ nextcloud_trusted_domains }}
      - OVERWRITEPROTOCOL=https
      - OVERWRITEHOST={{ nextcloud_hostname }}.{{ nextcloud_domain }}
    volumes:
      - {{ nextcloud_data_dir }}/app:/var/www/html
      - {{ nextcloud_data_dir }}/data:/var/www/html/data
    ports:
      - "{{ nextcloud_port }}:80"
    networks:
      - nextcloud
      - proxy
{% if nextcloud_ldap_enabled %}
      - ldap
{% endif %}
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.nextcloud.entrypoints=https"
      - "traefik.http.routers.nextcloud.rule=Host(`{{ nextcloud_hostname }}.{{ nextcloud_domain }}`)"
      - "traefik.http.routers.nextcloud.tls=true"
      - "traefik.http.routers.nextcloud.tls.certresolver=letsencrypt"
      - "traefik.http.services.nextcloud.loadbalancer.server.port=80"
      - "traefik.http.routers.nextcloud.middlewares=nextcloud-redirectregex,nextcloud-headers"
      # Nextcloud specific middlewares
      - "traefik.http.middlewares.nextcloud-redirectregex.redirectregex.permanent=true"
      - "traefik.http.middlewares.nextcloud-redirectregex.redirectregex.regex=https://(.*)/.well-known/(card|cal)dav"
      - "traefik.http.middlewares.nextcloud-redirectregex.redirectregex.replacement=https://$${1}/remote.php/dav/"
      - "traefik.http.middlewares.nextcloud-headers.headers.stsSeconds=15552000"
      - "traefik.http.middlewares.nextcloud-headers.headers.stsIncludeSubdomains=true"
      # Homepage integration
      - "homepage.group=Services"
      - "homepage.name=Nextcloud"
      - "homepage.icon=nextcloud"
      - "homepage.href=https://{{ nextcloud_hostname }}.{{ nextcloud_domain }}"
      - "homepage.description=File Sync & Share"

networks:
  nextcloud:
    driver: bridge
  proxy:
    external: true
{% if nextcloud_ldap_enabled %}
  ldap:
    external: true
{% endif %}
