# Keycloak SSO deployed via Portainer Stacks API
# Realm/clients/LDAP are configured post-deploy via the Admin REST API.

services:
  keycloak:
    image: {{ keycloak_image_name }}:{{ keycloak_image_tag }}
    container_name: keycloak
    restart: unless-stopped
    command:
      - start
      - --hostname={{ keycloak_hostname }}.{{ keycloak_domain }}
      - --proxy-headers=xforwarded
      - --http-enabled=true
    environment:
      - KC_BOOTSTRAP_ADMIN_USERNAME={{ keycloak_admin_user }}
      - KC_BOOTSTRAP_ADMIN_PASSWORD={{ keycloak_admin_password }}
      - KC_DB={{ keycloak_db_type }}
      - KC_HOSTNAME={{ keycloak_hostname }}.{{ keycloak_domain }}
      - KC_HOSTNAME_STRICT=false
      - KC_HTTP_ENABLED=true
    volumes:
      - keycloak_data:/opt/keycloak/data
    ports:
      - "8080"
    networks:
      - proxy
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.keycloak.entrypoints=websecure"
      - "traefik.http.routers.keycloak.rule=Host(`{{ keycloak_hostname }}.{{ keycloak_domain }}`)"
      - "traefik.http.routers.keycloak.tls=true"
      - "traefik.http.routers.keycloak.tls.certresolver=letsencrypt"
      - "traefik.http.services.keycloak.loadbalancer.server.port=8080"
      - "coredns.dockerdiscovery.cf_tunnel=https://{{ keycloak_hostname }}.{{ keycloak_domain }}"

volumes:
  keycloak_data:

networks:
  proxy:
    external: true
