---
# YAML lint configuration for Sophon
extends: default

rules:
  line-length: disable
  truthy:
    allowed-values: ['true', 'false', 'yes', 'no']
  comments:
    min-spaces-from-content: 1
  braces:
    min-spaces-inside: 0
    max-spaces-inside: 1
  indentation:
    spaces: 2
    indent-sequences: true
  document-start: enable

ignore: |
  .cache
  roles/*/templates/*.j2
